@font-face {
    font-family: "Lofty";
    src: url("./fonts/loftygoals.otf") format("opentype");
}
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}
/* //////////////////////// Header/////////////////////////// */

.header {
    height: 175px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 110px;
    font-weight: 900;
    background-color: rgb(217, 234, 241);
    color: rgb(153, 106, 11);
    font-family: "Lofty"

}

/* /////////////////////// Content ///////////////////////// */

.content {
    display: flex;
    min-height: 600px;
}

/* Left */
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    background-color:rgb(217, 234, 241);
}

.slide {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:rgb(136, 93, 9);
    font-size: 25px;
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sizeSelector {
    -webkit-appearance: none;
    background-color:rgb(217, 234, 241);
}

.sizeSelector::-webkit-slider-runnable-track{
    height: 26px;
    border: 1px solid rgb(136, 93, 9);
    border-radius: 25px;
    background: rgb(233, 241, 245);
}

.sizeSelector::-webkit-slider-thumb {
    -webkit-appearance: none; 
    width: 24px;
    height: 24px;
    border-radius: 25px;
    background:rgb(136, 93, 9);
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 50%;
    text-align: center;
}

.option1, .option2, .option3, .option4 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 70%;
    border: 1px solid rgb(136, 93, 9);
    background-color:rgb(233, 241, 245);
    color: rgb(136, 93, 9);
    border-radius: 5px;
}

.option1 {
    background-color:rgb(136, 93, 9);
    color: rgb(217, 234, 241);
}

.option1:hover, .option2:hover, .option3:hover, .option4:hover {
    transform: scale(1.04);
    transition: 0.1s ease-in-out;
    cursor: pointer;
}


/* Right */
.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
    background-color:rgb(217, 234, 241)
}

.frame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 90%;
    max-width: 650px;
    height: 550px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10%;
    background-color: rgb(231, 28, 28);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.24);
}

.board {
    border: 2px solid rgb(92, 92, 92);
    width: 450px; 
    height: 450px;
    background-color: rgb(245, 244, 244);
    border-radius: 1%;
}

.btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 520px;
    height: 15%;
}

.box1, .box2 {
    display: flex;
    width: 230px;
    height: 100%;
    gap: 20px;
    font-size: 22px;
}

.box2 {
    justify-content: flex-end;
}

.box1 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: white;
}

.box1 .swatch {
    -webkit-appearance: none;
    appearance: none; 
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: none;
}

.box1 .swatch::-webkit-color-swatch {
    border-radius: 50%;
    border: 35px solid white;
}

.box1 .btn, .box2 .btn {
    height: 80px; 
    width: 80px;
    border-radius: 50%;
}

.box1 .text, .box2 .text {
    color: rgb(187, 139, 42);
    font-weight: 600;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lofty";
}


/* /////////////////////// Footer /////////////////////////// */

.footer {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    padding-bottom: 10px;
    background-color:rgb(217, 234, 241);
    color:rgb(136, 93, 9);
}


/* /////////////////////// Shrunk Window ///////////////////////// */

/* @media: Whenever the page gets loaded (not resized) while sized
at a window width less than or equal to 650px, it will rewrite
the styles of the elements inside to the new specifications. */
@media (max-width: 650px) {

    .header {
        font-size: 70px;
    }

    .content {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
    }

    .menu {
        padding-top: 15px;
        width: 100%;
        height: 300px;
    }

    .options {
        height: 80%;
    }

    .option1, .option2, .option3, .option4 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%;
        width: 70%;
    }

    .board {
        width: 250px;
        height: 250px;
    }

    .container {
        justify-content: center;
        width: 100%;
    }

    .frame {
        width: 300px;
        height: 300px;
        padding-top: 15px;
        padding-bottom: 5px;
        padding-left: 0px;
        padding-right: 0px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
    }

    .btns {
        height: 13%;
        width: 280px;
    }

    .box1, .box2 {
        width: 140px;
        gap: 10px;
    }

    .box1 .btn, .box2 .btn {
        width: 38px;
        height: 38px;
    }

    .box1 .container {
        height: 38px;
        width: 38px;
    }

    .box1 .swatch {
        width: 40px;
        height: 40px;
    }

    .box1 .swatch.swatch::-webkit-color-swatch {
        border: 15px solid white;
    }

    .box1 .text, .box2 .text {
        font-size: 20px;
    }

    .footer {
        height: 55px;
        font-size: 18px;
    }
}

